<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action=""method="post">
        <label for="uname">Username:</label><br>
        <input type="text" id="uname" name="uname" required><br>
        <label for="psw">Password:</label><br>
        <input type="password" id="psw" name="psw" required><br><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>